.emojify-picker {
  --btn-border: 2px;
  --btn-padding: 8px;
  --btn-size: calc(var(--emoji-size) + var(--btn-padding));

  display: flex;
  flex-direction: column;
  position: relative;
  color: #333;
  border-radius: 0.25em;

  * {
    box-sizing: border-box;
  }

  &.theme-dark {
    background-color: #333;
    color: #fff;
  }

  &__group {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #f1f1f1;
    user-select: none;

    &-item {
      background: none;
      border: none;
      flex: 1;
      cursor: pointer;
      text-align: center;
      outline: none;
      padding: .25em;
      border-top: .25em solid transparent;

      &.active {
        border-top: 0.25em solid var(--theme-color);
        background-color: #fff;
      }

      &:focus {
        box-shadow: 0 0 0 1px rgba(#000, 0.4);
      }

      img {
        display: inline-block;
        width: auto;
        height: var(--emoji-size);
      }
    }
  }

  &__scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 1;
    padding: var(--list-padding);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--btn-size));
    user-select: none;

    &-item {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      border-radius: 0.25em;
      background-color: #fff;
      outline: none;
      border: 1px solid transparent;
      transition: all 0.1s ease-in-out;
      font-size: var(--emoji-size);
      line-height: var(--emoji-size);
      width: var(--btn-size);
      height: var(--btn-size);
      text-align: center;
      overflow: hidden;

      &:hover,
      &:focus {
        transform: scale(1.1);
        box-shadow: 0 2px 4px rgba(#000, 0.2);
      }

      &:focus {
        border: 1px solid var(--theme-color);
      }

      img {
        display: inline-block;
        width: var(--emoji-size);
        height: var(--emoji-size);
      }
    }
  }

  &__input-search {
    width: 100%;
    border: none;
    padding: .5em 1em;
    outline: none;
    border: 2px solid rgba(#000, .1);
    transition: all .25s ease-in-out;
    border-radius: .25em;
    margin-bottom: .618em;

    &:focus {
      border-color: var(--theme-color);
    }
  }
}
